.category-product {
  padding: 20px;
}

.info-card {
  background-color: #fff3cd;
  border: 1px solid #ffeeba;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px;
  margin: 0 auto;
  color: #856404;
}

.category-actions {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}
